<WeatherCatData>
    <Station>
        <Location>$station.location</Location>
        <Latitude>$station.stn_info.latitude_f</Latitude>
        <Longitude>$station.stn_info.longitude_f</Longitude>
        <Altitude_meters>$station.altitude.meter.raw</Altitude_meters>
        <Link>$station.station_url</Link>
    </Station>
    <Generation>
        <Time>
            #if $Extras.timestamp_fmt == "human"
            $current.dateTime.format("%a, %d %b %Y %H:%M:%S %Z")
            #else
            $current.dateTime.format("%Y-%m-%dT%H:%M:%S%z")
            #end if
        </Time>
        <Generator>weewx $station.version</Generator>
    </Generation>
    <Current>
        #if $current.outTemp.has_data
        <Temperature>
            <Value>$current.outTemp.raw</Value>
            <Units>$current.outTemp.format(" ").lstrip()</Units>
        </Temperature>
        #end if
        #if $current.outHumidity.has_data
        <Humidity>
            <Value>$current.outHumidity.raw</Value>
            <Units>$current.outHumidity.format(" ").lstrip()</Units>
        </Humidity>
        #end if
        #if $current.barometer.has_data
        <Barometer>
            <Value>$current.barometer.raw</Value>
            <Units>$current.barometer.format(" ").lstrip()</Units>
        </Barometer>
        #end if
        #if $current.windSpeed.has_data
        <WindSpeed>
            <Value>$current.windSpeed.raw</Value>
            <Units>$current.windSpeed.format(" ").lstrip()</Units>
        </WindSpeed>
        #end if
        #if $current.windGust.has_data
        <WindGust>
            <Value>$current.windGust.raw</Value>
            <Units>$current.windGust.format(" ").lstrip()</Units>
        </WindGust>
        #end if
        #if $current.windDir.has_data
        <WindDirection>
            <Value>$current.windDir.raw</Value>
            <Units>$current.windDir.format(" ").lstrip()</Units>
        </WindDirection>
        #end if
        #if $current.rainRate.has_data
        <RainRate>
            <Value>$current.rainRate.raw</Value>
            <Units>$current.rainRate.format(" ").lstrip()</Units>
        </RainRate>
        #end if
        <VoidEnd>null</VoidEnd>
    </Current>
</WeatherCatData>
